<h1>Dice Roll</h1>

<form action="/process_roll">
  <label for="number_of_die">Number of dice to roll?</label>
  <input id="number_of_die" name="dice">
  <label for="number_of_sides">How many sides per die?</label>
  <input id="number_of_sides" name="sides">
  <button>Roll!</button>
</form>
